th,
td,
tr {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

td,
th {
    min-width: 70px;
}

tr {
    height: 26px;
}

#todoListView {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: auto; */
    min-width: 1110px;
    /* position: fixed; */
    overflow-y: auto;
    margin-top: 50px;
}

.deleteColumn {
    text-align: center;
    vertical-align: middle;
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 5px #000;
    color: #fff;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(203deg, rgba(2, 0, 36, 1) 0%, rgba(54, 9, 121, 1) 35%, rgba(0, 108, 255, 1) 100%) fixed center;
    background-repeat: no-repeat;
}

#forms{
    background-size: 210%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
}